@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}
.confix {
  width: 960px;
  margin: auto;
}
.fl-l {
  float: left;
}
.fl-r {
  float: right;
}
nav {
  background-color: #f2f2f2;
  height: 38px;
}
nav .logo {
  line-height: 38px;
}
nav .logo img {
  width: 86px;
  height: 19px;
}
nav .text {
  line-height: 38px;
}
nav .text b {
  border-left: 1px solid #c1c1c1;
  padding-left: 12px;
  margin-left: 12px;
}
.main .title span {
  display: block;
  width: 160px;
  margin: auto;
  font-size: 26px;
  padding: 80px 0 60px;
}
.main .log {
  width: 690px;
  margin: auto;
}
.main .log .left {
  width: 50%;
  border-right: 1px solid #c1c1c1;
}
.main .log .left > div {
  width: 160px;
  height: 160px;
  padding: 16px;
  background-color: #f7f7f7;
  margin-right: 110px;
}
.main .log .left > div img {
  width: 128px;
  height: 128px;
}
.main .log .left p {
  margin-top: 40px;
  font-size: 12px;
  color: #838383;
  width: 265px;
  margin-right: 54px;
}
.main .log .right {
  width: 50%;
}
.main .log .right > div {
  margin-left: 50px;
}
.main .log .right > div input {
  width: 288px;
  height: 39px;
  border-radius: 5px;
  margin-bottom: 23px;
  background-color: #f2f2f2;
  outline: none;
  border: none;
  padding-left: 12px;
}
.main .log .right > div input:last-of-type {
  background-color: #ca141d;
  color: #fff;
  font-weight: bold;
}
.main .log .right > div p {
  cursor: pointer;
  color: #007dff;
  margin-bottom: 34px;
}
.main .log .right > div p:nth-of-type(2) {
  text-align: center;
}
.main .log .right > div p:last-of-type {
  text-align: center;
  color: #323232;
}
.main .log .right > div p:last-of-type span {
  margin-right: 56px;
}
.footer {
  height: 88px;
  background-color: #f2f2f2;
  font-size: 12px;
  padding-top: 28px;
}
.footer p {
  text-align: center;
}
.footer p:nth-of-type(2) {
  color: #a9a9a9;
}
