@charset 'utf-8';
.container-box {
  position: relative;
}
nav {
  height: 36px;
  background-color: #2E2828;
  font-size: 12px;
  line-height: 36px;
}
nav .left {
  list-style: none;
}
nav .left > li {
  color: #afafaf;
  position: relative;
}
nav .left > li > span {
  user-select: none;
  color: #414141;
}
nav .left > li > a {
  color: #afafaf;
  text-decoration: none !important;
}
nav .left > li > a:hover {
  color: #fff;
}
nav .left > li:last-of-type a {
  color: #afafaf;
  text-decoration: none;
}
nav .left > li:last-of-type:hover .second-nav1 {
  display: block;
}
nav .left > li:last-of-type:hover p {
  background-color: #fff;
  color: #cb242b;
}
nav .left > li:last-of-type:hover p .icon-jiantou9 {
  display: none;
}
nav .left > li:last-of-type:hover p .icon-ico_back {
  display: inline;
}
nav .left > li:last-of-type p {
  height: 36px;
  line-height: 36px;
  margin: 0;
}
nav .left .icon-ico_back {
  display: none;
}
nav .left .iconfont {
  font-size: 12px;
}
nav .left .second-nav1 {
  position: absolute;
  border-radius: 8px 0 8px 8px;
  box-shadow: 0 3px 5px 0 #ccc;
  background-color: #fff;
  right: 0px;
  width: 120px;
  line-height: 36px;
  list-style: none;
  z-index: 1000;
  display: none;
}
nav .left .second-nav1 li {
  height: 36px;
}
nav .left .second-nav1 a {
  color: #777777;
}
nav .left .second-nav1 a:hover {
  color: #cb242b !important;
}
nav .right {
  position: absolute;
  right: 0;
  list-style: none;
}
nav .right a {
  padding: 0;
}
nav .right > li {
  position: relative;
}
nav .right > li:last-of-type {
  background-color: #424242;
}
nav .right > li > span {
  user-select: none;
  color: #414141;
}
nav .right > li > a {
  text-decoration: none;
  color: #afafaf;
}
nav .right > li > a > p {
  line-height: 36px;
  height: 36px;
  margin: 0;
}
nav .right > li > a:hover {
  color: #fff;
}
nav .right .second:hover {
  background-color: #fff;
}
nav .right .second:hover > a {
  color: #cb242b;
}
nav .right .second:hover .icon-jiantou9 {
  display: none;
}
nav .right .second:hover .icon-ico_back {
  display: inline;
}
nav .right .second a {
  text-decoration: none;
  color: #afafaf;
}
nav .right .icon-ico_back {
  display: none;
}
nav .right .iconfont {
  font-size: 12px;
}
nav .right .server:hover .second-nav2 {
  display: block;
}
nav .right .second-nav2 {
  position: absolute;
  right: 0;
  list-style: none;
  width: 100%;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 3px 5px 0 #ccc;
  background-color: #fff;
  z-index: 1000;
  display: none;
}
nav .right .second-nav2 a:hover {
  color: #cb242b;
}
nav .right .web-nav:hover .second-nav3 {
  display: block;
}
nav .right .second-nav3 {
  position: absolute;
  right: 0;
  width: 890px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 3px 5px 0 #ccc;
  background-color: #fff;
  display: none;
  z-index: 1000;
}
nav .right .second-nav3 a {
  color: #777777;
}
nav .right .second-nav3 .home {
  padding: 36px 48px 80px 50px;
}
nav .right .second-nav3 .home > p:nth-of-type(1) {
  background-color: #E6E6E6;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
}
nav .right .second-nav3 .home > p:nth-of-type(1) .iconfont {
  font-size: 30px;
}
nav .right .second-nav3 .home > p:nth-of-type(2):hover a {
  color: #cb242b;
}
nav .right .second-nav3 .channel,
nav .right .second-nav3 .increase,
nav .right .second-nav3 .vip {
  padding-top: 45px;
  width: 120px;
}
nav .right .second-nav3 .channel > p,
nav .right .second-nav3 .increase > p,
nav .right .second-nav3 .vip > p {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  margin: 0;
}
nav .right .second-nav3 .channel > a:nth-of-type(1),
nav .right .second-nav3 .increase > a:nth-of-type(1),
nav .right .second-nav3 .vip > a:nth-of-type(1) {
  padding-right: 20px;
}
nav .right .second-nav3 .channel > a:hover,
nav .right .second-nav3 .increase > a:hover,
nav .right .second-nav3 .vip > a:hover {
  color: #cb242b;
}
nav .right .second-nav3 .product {
  padding: 45px 56px 0 55px;
}
nav .right .second-nav3 .product > p {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  margin: 0;
}
nav .right .second-nav3 .product .ul1 {
  padding-right: 32px;
}
nav .right .second-nav3 .product .ul1,
nav .right .second-nav3 .product .ul2 {
  list-style: none;
}
nav .right .second-nav3 .product .ul1 li,
nav .right .second-nav3 .product .ul2 li {
  height: 12px;
  line-height: 12px;
  padding: 13px 0;
}
nav .right .second-nav3 .product .ul1 a:hover,
nav .right .second-nav3 .product .ul2 a:hover {
  color: #cb242b;
}
nav .right .second-nav3 .vip {
  margin-left: 56px;
}
nav .right .phone:hover .second-nav4 {
  display: block;
}
nav .right .second-nav4 {
  display: none;
  z-index: 1000;
  position: absolute;
  list-style: none;
  width: 244px;
  right: 0;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px 5px 0 #ccc;
  padding-bottom: 20px;
}
nav .right .second-nav4 > li:nth-of-type(1) > div {
  padding-top: 20px;
}
nav .right .second-nav4 > li > div {
  margin-left: 25px;
}
nav .right .second-nav4 img {
  width: 90px;
  height: 90px;
}
nav .right .second-nav4 .sec-ul {
  list-style: none;
  margin-left: 12px;
}
nav .right .second-nav4 .sec-ul > li:nth-of-type(1) {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding-top: 22px;
}
nav .right .second-nav4 .sec-ul > li:nth-of-type(2),
nav .right .second-nav4 .sec-ul > li:nth-of-type(3) {
  color: #cb242b;
  font-size: 12px;
  line-height: 16px;
}
nav .right .second-nav4 .sec-ul > li:last-of-type span {
  line-height: 16px;
  font-size: 16px;
  margin-right: 18px;
  color: #777777;
}
nav .right .second-nav4 .sec-ul2 {
  list-style: none;
  margin-left: 12px;
}
nav .right .second-nav4 .sec-ul2 > li:nth-of-type(1) {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
nav .right .second-nav4 .sec-ul2 > li:nth-of-type(2) {
  font-size: 12px;
  line-height: 16px;
  color: #c7c7c7;
}
nav .right .second-nav4 .sec-ul2 > li:last-of-type span {
  line-height: 16px;
  font-size: 16px;
  color: #777777;
}
nav .right .second-nav4 .sec-ul3 {
  list-style: none;
  margin-left: 12px;
}
nav .right .second-nav4 .sec-ul3 > li:nth-of-type(1) {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
nav .right .second-nav4 .sec-ul3 > li span {
  line-height: 16px;
  font-size: 16px;
  color: #777777;
}
nav .right .shopping-car:hover .shop {
  display: block;
}
nav .right .shopping-car .shop {
  display: none;
  width: 460px;
  height: 158px;
  position: absolute;
  right: 0;
  background-color: aqua;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px 5px 0 #ccc;
  background-color: #f3f3f3;
  padding: 30%;
  z-index: 1000;
}
nav .right .shopping-car .shop .iconfont {
  font-size: 70px;
  color: #979797;
}
nav .right .shopping-car .shop p {
  color: #777777;
  font-size: 14px;
}
header {
  box-shadow: 0 3px 5px 0 #ccc;
}
header > div {
  padding: 18px 0 15px 0;
  position: relative;
}
header > div .image {
  margin-right: 54px;
}
header > div .image > a > img {
  width: 205px;
  height: 36px;
}
header > div .list {
  position: relative;
  height: 42px;
  line-height: 40px;
  margin-right: 24px;
}
header > div .list > a {
  color: #333333;
  font-size: 16px;
  text-decoration: none;
}
header > div .list > .div1 {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background: url(../img/icon-category.png) no-repeat;
  background-position: 0 -25px;
  background-size: 100% 200%;
  position: absolute;
  top: 8px;
  left: -25px;
}
header > div .list:hover > a {
  color: #ca141d;
}
header > div .list:hover > .div1 {
  background: url(../img/icon-category.png) no-repeat;
  background-position: 0 -1px;
  background-size: 100% 200%;
}
header > div ul {
  list-style: none;
  height: 32px;
}
header > div ul li {
  height: 24px;
  line-height: 24px;
  margin: 7px 24px 0 0;
  width: 74px;
  text-align: center;
}
header > div ul li a {
  color: #333333;
  font-size: 16px;
  text-decoration: none !important;
}
header > div ul li a:hover {
  color: #ca141d;
}
header > div ul .dif a {
  color: #fff;
}
header > div ul .dif a:hover {
  color: #fff;
}
header > div ul .dif-red {
  background-color: #ff8486;
  border-radius: 12px;
}
header > div ul .dif-red:hover {
  background-color: #ff9c9e;
}
header > div ul .dif-blue {
  background-color: #74c7ff;
  border-radius: 12px;
}
header > div ul .dif-blue:hover {
  background-color: #8fd2ff;
}
header > div input {
  background-color: #f0f0f0;
  border: none;
  outline: none;
  width: 240px;
  height: 30px;
  border-radius: 15px;
  padding: 0 13px 0 13px;
}
header > div > span:nth-of-type(1) {
  position: absolute;
  top: 22px;
  right: 37px;
}
header > div > span:nth-of-type(1) a {
  color: #999999;
}
header > div > span:nth-of-type(2) {
  position: absolute;
  right: 13px;
  top: 22px;
}
.hd-sm {
  padding-top: 10px;
  font-size: 12px;
}
.hd-sm > div a {
  font-size: 12px;
  color: #BBB;
  text-decoration: none;
}
.hd-sm > div a:hover {
  color: #333333;
}
.pro-box {
  width: 450px;
}
.pro-box div.box {
  width: 450px;
  height: 450px;
  margin: 20px 0;
}
.pro-box div.box a div {
  z-index: 999;
}
.pro-box div.box a.phone-display {
  display: block;
  position: relative;
  height: 100%;
}
.pro-box div.bottom-nav {
  margin-top: 20px;
}
.pro-box div.bottom-nav div.tab-btn {
  position: relative;
  width: 40px;
  height: 60px;
  cursor: pointer;
}
.pro-box div.tab-btn:hover {
  opacity: 0.6;
}
.pro-box div.tab-btn.btn-left {
  float: left;
}
.pro-box div.tab-btn.btn-right {
  float: right;
}
.pro-box i.shift-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  border: 1px solid #999;
  border-radius: 50%;
}
.pro-box i.shift-icon > span {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  border-bottom: 1.5px solid #999;
}
.pro-box div.btn-left i.shift-icon > span {
  border-left: 1.5px solid #999;
  transform: translate(-30%, -50%) rotate(45deg);
}
.pro-box div.btn-right i.shift-icon > span {
  border-right: 1.5px solid #999;
  transform: translate(-70%, -50%) rotate(-45deg);
}
.pro-box div.bottom-nav div.bottom-center-nav {
  position: relative;
  height: 60px;
  margin: 0 50px;
  overflow: hidden;
}
.pro-box div.bottom-center-nav ul.small-img-ul {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.pro-box ul.small-img-ul li.img {
  float: left;
  width: 60px;
  height: 100%;
  border: 1px solid transparent;
  background-size: 100% 100%;
  cursor: pointer;
}
.pro-box ul.small-img-ul li.img.active {
  border-color: #a01b1b;
}
.right-intro {
  width: 700px;
  margin-top: -500px;
  margin-right: 28px;
  margin-bottom: 50px;
}
.right-intro .mar-l {
  margin-left: 20px;
}
.right-intro > .main-title {
  font-size: 21px;
}
.right-intro .next-title a {
  font-size: 14px;
  color: #ca141d;
  text-decoration: underline;
}
.right-intro .pro-more {
  background-color: #f5f5f5;
}
.right-intro .pro-more .pro-more-in {
  padding-top: 10px;
  margin-left: 10px;
}
.right-intro .pro-more .pro-more-in .content {
  font-size: 12px;
}
.right-intro .pro-more .pro-more-in .price .text {
  font-size: 12px;
}
.right-intro .pro-more .pro-more-in .price .sym {
  margin-left: 15px;
  color: #ca141d;
  font-size: 18px;
}
.right-intro .pro-more .pro-more-in .price .mon {
  color: #ca141d;
  font-size: 24px;
}
.right-intro .pro-more .pro-more-in .sale .text {
  display: block;
  font-size: 12px;
}
.right-intro .pro-more .pro-more-in .sale .red-box {
  border: 1px solid #ca141d;
  font-size: 12px;
  color: #ca141d;
  width: 72px;
  height: 18px;
  text-align: center;
  line-height: 18px;
}
.right-intro .pro-more .pro-more-in .pro-paper {
  margin-left: 64px;
}
.right-intro .pro-more .pro-more-in .pro-paper .red-box {
  border: 1px solid #ca141d;
  font-size: 12px;
  color: #ca141d;
  width: 72px;
  height: 18px;
  text-align: center;
  line-height: 18px;
}
.right-intro .pro-more .pro-more-in .pro-free {
  margin-left: 64px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.right-intro .pro-more .pro-more-in .pro-free .red-box {
  border: 1px solid #ca141d;
  font-size: 12px;
  color: #ca141d;
  width: 72px;
  height: 18px;
  text-align: center;
  line-height: 18px;
}
.right-intro .pro-serve {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 12px;
}
.right-intro .pro-serve .serve1 .text {
  display: block;
  user-select: none;
}
.right-intro .pro-serve .serve1 p {
  cursor: pointer;
  margin-top: -4px;
  margin-left: 12px;
  border: 1px solid #d6d6d6;
  font-size: 12px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  box-sizing: border-box;
  padding: 0 10px;
}
.right-intro .pro-serve .serve1 .content {
  color: #ca141d;
}
.right-intro .pro-serve .serve2 {
  margin-left: 74px;
  margin-bottom: 15px;
}
.right-intro .pro-serve .serve2 span .iconfont {
  display: block;
}
.right-intro .pro-serve .serve2 span:nth-of-type(2),
.right-intro .pro-serve .serve2 span:nth-of-type(4) {
  display: block;
  margin-top: 3px;
}
.right-intro .pro-serve .serve3 {
  border-bottom: 1px solid #DDD;
  padding-bottom: 10px;
}
.right-intro .pro-serve .serve4 {
  margin-top: 20px;
}
.right-intro .pro-serve .serve4 > span {
  user-select: none;
}
.right-intro .pro-serve .serve4 .text {
  display: block;
}
.right-intro .pro-serve .serve4 .phone-co {
  cursor: pointer;
  border: 1px solid #a4a4a4;
  padding: 0 20px;
  height: 45px;
  line-height: 45px;
  margin-top: -10px;
  border-radius: 2px;
  margin-right: 10px;
}
.right-intro .pro-serve .serve4 .phone-co:hover {
  border: 1px solid #717171;
}
.right-intro .pro-serve .serve4 .phone-co img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.right-intro .pro-serve .serve5 {
  margin-top: 18px;
}
.right-intro .pro-serve .serve5 > span {
  user-select: none;
}
.right-intro .pro-serve .serve5 p {
  cursor: pointer;
  border: 1px solid #a4a4a4;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  border-radius: 2px;
  text-align: center;
  margin-right: 10px;
  margin-top: -7px;
}
.right-intro .pro-serve .serve6 {
  margin-top: 18px;
}
.right-intro .pro-serve .serve6 > span {
  user-select: none;
}
.right-intro .pro-serve .serve6 p {
  cursor: pointer;
  border: 1px solid #ca141d;
  width: 86px;
  height: 30px;
  line-height: 30px;
  border-radius: 2px;
  text-align: center;
  margin-right: 10px;
  margin-top: -7px;
}
.right-intro .pro-serve .serve7 > span {
  user-select: none;
}
.right-intro .pro-serve .serve7 p {
  cursor: pointer;
  padding: 0 20px;
  background-color: #f5f5f5;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
}
.right-intro .pro-serve .serve7 p:hover {
  color: #ca141d;
}
.right-intro .pro-serve .serve8 {
  margin-top: 10px;
}
.right-intro .pro-serve .serve8 > span {
  user-select: none;
}
.right-intro .pro-serve .serve8 > span:nth-of-type(2) {
  color: #ca141d;
}
.right-intro .pro-serve .serve-last {
  margin-top: 10px;
}
.right-intro .pro-serve .serve-last .squire {
  box-sizing: border-box;
  width: 71px;
  height: 51px;
  border: 1px solid #e2e2e2;
}
.right-intro .pro-serve .serve-last .squire .count {
  font-size: 15px;
  width: 45px;
  height: 49px;
  line-height: 49px;
  text-align: center;
  border-right: 1px solid #e2e2e2;
}
.right-intro .pro-serve .serve-last .squire .plus,
.right-intro .pro-serve .serve-last .squire .minus {
  cursor: pointer;
  width: 23px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  font-weight: bold;
}
.right-intro .pro-serve .serve-last .squire .plus {
  border-bottom: 1px solid #e2e2e2;
}
.right-intro .pro-serve .serve-last .joincar {
  margin: 0 15px;
  width: 189px;
  height: 51px;
  background-color: #fc600c;
  font-size: 20px;
  color: #fff;
  line-height: 51px;
  text-align: center;
}
.right-intro .pro-serve .serve-last .joincar:hover {
  background-color: #fd803d;
}
.right-intro .pro-serve .serve-last .rightnow {
  margin-bottom: 0;
  width: 189px;
  height: 51px;
  font-size: 20px;
  color: #fff;
  line-height: 51px;
  text-align: center;
  background-color: #ca151d;
}
.right-intro .pro-serve .serve-last .rightnow:hover {
  background-color: #d5444b;
}
.details {
  border-top: 1px solid #dddddd;
  position: relative;
}
.details .top {
  background-color: #ffffff;
  position: sticky;
  z-index: 1000;
  top: 0;
}
.details .top .title {
  padding: 36px 0 10px;
}
.details .top .title .all {
  width: 600px;
  margin: auto;
}
.details .top .title .all > div {
  float: left;
}
.details .top .title .all > div a {
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #a4a4a4;
  padding: 0 10px 6px;
  margin: 0 25px;
}
.details .top .title .all .active a {
  color: #ca141d;
  border-bottom: 2px solid #ca141d;
}
.details #product-de {
  margin-bottom: 60px;
}
.details #product-de img {
  width: 100%;
}
.details #product-para .title {
  font-size: 18px;
  color: #3a3a3a;
  border-left: 4px solid #ca141d;
  padding-left: 10px;
  margin-bottom: 15px;
}
.details #product-para hr {
  border-top: 1px solid #999999;
}
.details #product-para .product-mainpara .left-title,
.details #product-para .product-main .left-title {
  font-size: 22px;
  font-weight: bold;
}
.details #product-para .product-mainpara ul,
.details #product-para .product-main ul {
  margin-left: 66px;
  list-style: none;
}
.details #product-para .product-mainpara ul > li,
.details #product-para .product-main ul > li {
  margin-bottom: 24px;
}
.details #product-para .product-mainpara ul > li:last-of-type,
.details #product-para .product-main ul > li:last-of-type {
  margin-bottom: 0;
}
.details #product-para .product-mainpara ul > li > span,
.details #product-para .product-main ul > li > span {
  display: block;
  font-size: 16px;
}
.details #product-para .product-mainpara ul > li > span:nth-of-type(1),
.details #product-para .product-main ul > li > span:nth-of-type(1) {
  width: 128px;
  line-height: 24px;
  margin-right: 54px;
  user-select: none;
  word-break: break-all;
}
.details #product-para .product-mainpara ul > li > span:nth-of-type(2),
.details #product-para .product-main ul > li > span:nth-of-type(2) {
  width: 320px;
  line-height: 24px;
  margin-right: 96px;
}
.details #product-para .product-mainpara ul > li .note,
.details #product-para .product-main ul > li .note {
  color: #999999;
  font-size: 14px;
  width: 428px;
}
.details #pack-aftersale .pack .title {
  font-size: 18px;
  color: #3a3a3a;
  border-left: 4px solid #ca141d;
  padding-left: 10px;
  margin-bottom: 15px;
}
.details #pack-aftersale .pack hr {
  border-top: 1px solid #999999;
  margin-bottom: 0;
}
.details #pack-aftersale .pack .pac-main {
  padding: 38px 30px 40px 130px;
}
.details #pack-aftersale .pack .pac-main p {
  position: relative;
}
.details #pack-aftersale .pack .pac-main p em {
  font-style: normal;
  font-size: 14px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #3a3a3a;
  margin-right: 20px;
  margin-bottom: 16px;
  padding-left: 16px;
  width: 223px;
}
.details #pack-aftersale .pack .pac-main p em::before {
  content: "";
  width: 6px;
  height: 6px;
  display: block;
  border-radius: 3px;
  background: #d8d8d8;
  position: absolute;
  top: 7px;
  left: 0;
}
.details #pack-aftersale .aftersale .title {
  font-size: 18px;
  color: #3a3a3a;
  border-left: 4px solid #ca141d;
  padding-left: 10px;
  margin-bottom: 15px;
}
.details #pack-aftersale .aftersale hr {
  border-top: 1px solid #999999;
  margin-bottom: 0;
}
.details #pack-aftersale .aftersale .pac-main {
  padding: 34px 50px 53px 130px;
}
.details #pack-aftersale .aftersale .pac-main p span {
  position: relative;
  display: block;
  padding-left: 16px;
  line-height: 26px!important;
  font-size: 14px!important;
  color: #3a3a3a !important;
}
.details #pack-aftersale .aftersale .pac-main p span::before {
  content: "";
  width: 6px;
  height: 6px;
  display: block;
  border-radius: 3px;
  background: #d8d8d8;
  position: absolute;
  top: 6px;
  left: 0;
}
.details #pack-aftersale .aftersale .pac-main p span:last-of-type a {
  text-decoration: none;
  color: #333333;
}
.details .productWorld p {
  margin-bottom: 0;
  font-size: 14px;
}
.details #comments > div {
  width: 100%;
  height: 100px;
}
.footer {
  background-color: #f9f9f9;
}
.footer .confix {
  position: relative;
}
.footer .confix .fo-top {
  list-style: none;
  padding-top: 22px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0;
}
.footer .confix .fo-top > li {
  float: left;
  padding-right: 120px;
}
.footer .confix .fo-top > li > div {
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #e28e91;
  border-radius: 50%;
  margin-right: 15px;
}
.footer .confix .fo-top > li > div > span {
  color: #cb242b;
  font-size: 25px;
}
.footer .confix .fo-top > li > p {
  cursor: pointer;
  color: #3a3a3a;
  font-size: 18px;
  line-height: 40px;
}
.footer .confix .fo-top .last {
  padding-right: 0;
}
.footer .confix .fo-top .third {
  padding-right: 110px;
}
.footer .confix .fo-mid {
  border-bottom: 1px solid #eee;
  margin-top: 30px;
  padding-bottom: 10px;
}
.footer .confix .fo-mid > ul {
  list-style: none;
}
.footer .confix .fo-mid > ul:nth-of-type(1) {
  width: 166px;
}
.footer .confix .fo-mid > ul:nth-of-type(2) {
  width: 138px;
}
.footer .confix .fo-mid > ul:nth-of-type(3),
.footer .confix .fo-mid > ul:nth-of-type(4),
.footer .confix .fo-mid > ul:nth-of-type(5),
.footer .confix .fo-mid > ul:nth-of-type(6) {
  width: 153px;
}
.footer .confix .fo-mid > ul:nth-of-type(6) {
  border-right: 1px solid #eee;
}
.footer .confix .fo-mid > ul > li:nth-of-type(1) {
  font-size: 14px;
  padding-bottom: 7px;
}
.footer .confix .fo-mid > ul > li > a {
  text-decoration: none;
  font-size: 12px;
  color: #777777;
}
.footer .confix .fo-mid > ul > li > a:hover {
  color: #cb242b;
}
.footer .confix .fo-mid .fo-right {
  list-style: none;
  width: 280px;
  text-align: center;
}
.footer .confix .fo-mid .fo-right > li p {
  margin-bottom: 0;
}
.footer .confix .fo-mid .fo-right > li:nth-of-type(1) {
  padding-bottom: 0;
}
.footer .confix .fo-mid .fo-right > li:nth-of-type(1) p {
  font-size: 24px;
  font-weight: bolder;
}
.footer .confix .fo-mid .fo-right > li:nth-of-type(2) p {
  height: 22px;
  line-height: 22px;
}
.footer .confix .fo-mid .fo-right > li:nth-of-type(3) {
  padding-top: 10px;
}
.footer .confix .fo-mid .fo-right > li:nth-of-type(3) a {
  color: #fff;
  text-decoration: none;
}
.footer .confix .fo-mid .fo-right > li:nth-of-type(3) a p {
  width: 170px;
  height: 34px;
  line-height: 34px;
  background-color: #000;
  margin: auto;
  border-radius: 17px;
  font-size: 14px;
}
.footer .confix .fo-mid .fo-right > li:nth-of-type(4) {
  margin-top: 26px;
}
.footer .confix .fo-mid .fo-right > li:nth-of-type(4) .iconfont {
  font-size: 18px;
}
.footer .confix .fo-mid .fo-right > li:nth-of-type(4) span {
  margin-right: 11px;
}
.footer .confix .fo-bot {
  padding-top: 25px;
  padding-bottom: 28px;
}
.footer .confix .fo-bot .fo-logo {
  padding-right: 20px;
  padding-top: 3px;
}
.footer .confix .fo-bot .fo-logo a img {
  width: 82px;
  height: 20px;
}
.footer .confix .fo-bot .first-ul {
  margin-bottom: 6px;
  list-style: none;
}
.footer .confix .fo-bot .first-ul > li {
  padding-right: 6px;
  border-right: 1px solid #eee;
  margin-right: 6px;
}
.footer .confix .fo-bot .first-ul > li > a {
  color: #777777;
  text-decoration: none;
  font-size: 12px;
}
.footer .confix .fo-bot .first-ul > li > a:hover {
  color: #cb242b;
}
.footer .confix .fo-bot .first-ul .last {
  border-right: 0;
}
.footer .confix .fo-bot .second-ul {
  margin-bottom: 8px;
  margin-left: 100px;
  list-style: none;
}
.footer .confix .fo-bot .second-ul > li {
  margin-right: 5px;
  font-size: 12px;
  color: #a4a4a4;
}
.footer .confix .fo-bot .second-ul > li a {
  text-decoration: none;
  font-size: 12px;
  color: #a4a4a4;
}
.footer .confix .fo-bot .second-ul > li a:hover {
  color: #cb242b;
}
.footer .confix .fo-bot .second-ul > li:nth-of-type(5) {
  border-right: 1px solid #777;
}
.footer .confix .fo-bot p {
  margin-left: 100px;
  font-size: 12px;
  color: #a4a4a4;
}
.footer .confix figure {
  position: absolute;
  top: 320px;
  left: 1130px;
}
.footer .confix figure img {
  width: 70px;
  height: 24px;
}
* {
  margin: 0;
  padding: 0;
}
.confix {
  width: 1200px;
  margin: auto;
}
.fl-l {
  float: left;
}
.fl-r {
  float: right;
}
