@charset 'utf-8';
.product {
  margin-top: 35px;
}
.product .new-pro {
  list-style: none;
  padding-top: 58px;
  margin-bottom: 30px;
}
.product .new-pro > li > a img {
  width: 290px;
  height: 200px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 5px 0 #ccc;
}
.product .new-pro > li > a img .last {
  margin: 0;
}
.product .new-pro > li > a:hover img {
  box-shadow: 0 5px 10px 5px #ccc;
}
.product .h-1,
.product .h-2 {
  font-size: 26px;
}
.product .hot {
  margin-bottom: 15px;
}
.product .hot .big-pic {
  margin-right: 12px;
}
.product .hot .big-pic a img {
  width: 230px;
  height: 592px;
  border-radius: 10px;
}
.product .hot .big-pic a img:hover {
  box-shadow: 0 5px 10px 5px #ccc;
}
.product .hot > ul {
  list-style: none;
  width: 950px;
}
.product .hot > ul li {
  cursor: pointer;
  position: relative;
  width: 230px;
  height: 290px;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin: 0 8px 12px 0;
}
.product .hot > ul li:nth-of-type(1) p:nth-of-type(1),
.product .hot > ul li:nth-of-type(4) p:nth-of-type(1),
.product .hot > ul li:nth-of-type(8) p:nth-of-type(1) {
  margin-top: 178px;
}
.product .hot > ul li p:nth-of-type(1) {
  margin-top: 200px;
  margin-bottom: 0;
  color: #3a3a3a;
}
.product .hot > ul li p:nth-of-type(2) {
  margin: 2px 0 7px 0;
  font-size: 12px;
  color: #777777;
}
.product .hot > ul li p:nth-of-type(3) {
  color: #d0021b;
}
.product .hot > ul li:nth-of-type(4),
.product .hot > ul li:nth-of-type(8) {
  margin-right: 0;
}
.product .hot > ul li img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: o;
  top: 0;
  margin: 37px auto 0;
  width: 150px;
  height: 150px;
}
.product .hot > ul li .h-div {
  text-align: center;
  width: 66px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  background-color: #FF6A6E;
  color: #fff;
  margin: auto;
  border-radius: 0 0 5px 5px;
}
.product .hot > ul li:hover {
  box-shadow: 0 5px 10px 5px #ccc;
}
.product .introduce {
  position: relative;
}
.product .introduce .swiper-container {
  --swiper-theme-color: #393939;
  --swiper-navigation-size: 16px;
}
.product .introduce .swiper-container .swiper-wrapper .swiper-slide {
  outline: none;
}
.product .introduce .swiper-container .swiper-wrapper .swiper-slide > div {
  cursor: pointer;
  width: 230px;
  height: 300px;
}
.product .introduce .swiper-container .swiper-wrapper .swiper-slide > div > ul {
  list-style: none;
}
.product .introduce .swiper-container .swiper-wrapper .swiper-slide > div > ul li {
  text-align: center;
}
.product .introduce .swiper-container .swiper-wrapper .swiper-slide > div > ul li:nth-of-type(1) {
  height: 36px;
  line-height: 36px;
  background-color: #f3f3f3;
  border-radius: 0 0 10px 10px;
  color: #777777;
}
.product .introduce .swiper-container .swiper-wrapper .swiper-slide > div > ul li:nth-of-type(2) {
  margin-top: 6px;
  color: #3a3a3a;
}
.product .introduce .swiper-container .swiper-wrapper .swiper-slide > div > ul li:nth-of-type(3) {
  color: #d0021b;
}
.product .introduce .swiper-container .swiper-wrapper .swiper-slide > div figure {
  box-sizing: border-box;
  box-shadow: 0 3px 5px 0 #ccc;
  width: 100%;
  height: 208px;
  position: relative;
}
.product .introduce .swiper-container .swiper-wrapper .swiper-slide > div figure img {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: o;
  top: 0;
  margin: 30px auto 0;
}
.product .introduce .swiper-button-disabled {
  display: none;
}
.product .introduce [role=button] {
  position: absolute;
  top: 120px;
}
.product .sm-banner {
  margin-bottom: 10px;
}
.product .sm-banner .swiper-slide {
  border-radius: 10px;
  overflow: hidden;
}
.product .sm-banner .swiper-pagination {
  width: 140px;
}
.product .sm-banner .swiper-pagination .swiper-pagination-bullet {
  border: 2px solid #ffffff;
  background-color: transparent;
  width: 10px;
  height: 10px;
}
.product .sm-banner .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffffff;
}
.product .sm-banner .swiper-container-horizontal > .swiper-pagination-bullets {
  left: 1070px;
  bottom: 10px;
}
.product .phone .tab {
  list-style: none;
  margin-bottom: 12px;
  margin-top: 27px;
}
.product .phone .tab > li {
  height: 32px;
  line-height: 32px;
  float: left;
  margin-right: 24px;
}
.product .phone .tab > li:nth-of-type(1) {
  color: #333;
  font-size: 26px;
  margin-right: 28px;
}
.product .phone .tab > li > a {
  text-decoration: none;
  color: #999;
}
.product .phone .tab > li > a:hover {
  color: #d0021b;
}
.product .phone p {
  margin-top: 27px;
}
.product .phone p span {
  cursor: pointer;
}
.product .phone p span:nth-of-type(1):hover {
  color: #d0021b;
}
.product .phone .phone-l .fir-pic img {
  border-radius: 10px;
  width: 230px;
  height: 290px;
}
.product .phone .phone-l .fir-pic img:hover {
  box-shadow: 0 5px 10px 5px #ccc;
}
.product .phone .phone-l > ul {
  list-style: none;
}
.product .phone .phone-l > ul > li {
  cursor: pointer;
  position: relative;
  width: 230px;
  height: 290px;
  border-radius: 10px;
  margin: 0 6px 12px 6px;
  background-color: #f9f9f9;
}
.product .phone .phone-l > ul > li:nth-of-type(1) p:nth-of-type(1) {
  margin-top: 178px;
}
.product .phone .phone-l > ul > li:nth-last-of-type {
  margin: 0 6px 12px 0;
}
.product .phone .phone-l > ul > li img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: o;
  top: 0;
  margin: 37px auto 0;
  width: 150px;
  height: 150px;
}
.product .phone .phone-l > ul > li p:nth-of-type(1) {
  margin-top: 200px;
  margin-bottom: 0;
  color: #3a3a3a;
}
.product .phone .phone-l > ul > li p:nth-of-type(2) {
  margin: 2px 0 7px 0;
  font-size: 12px;
  color: #777777;
}
.product .phone .phone-l > ul > li p:nth-of-type(3) {
  margin-top: 0;
  color: #d0021b;
}
.product .phone .phone-l > ul > li .h-div {
  text-align: center;
  width: 66px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  background-color: #FF6A6E;
  color: #fff;
  margin: auto;
  border-radius: 0 0 5px 5px;
}
.product .phone .phone-l > ul > li:hover {
  box-shadow: 0 5px 10px 5px #ccc;
}
.product .new-people {
  padding-top: 10px;
  padding-bottom: 60px;
}
